
body{
    background-color: rgba(179, 179, 179, 0.527);
}

a:hover{
    text-decoration: none;
}

.about{
    position: absolute;
    background-color: rgba(230, 230, 250, 0.726);
    margin: auto;
    margin-top: -300px;
    margin-left: 11%;
    padding: 50px;
    width: 80%;
    font-weight: bold;
    border: black solid 1px;
    
}

.about h1{
    text-align: center;
}
.active{
  
    background-color: rgb(146, 151, 145);
}



.active:first-child{
    color: rgb(255, 255, 255);
}

.box{
    margin-top: 70px;
    width: 100%;
    height: 550px;
    background-image: url("https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.computer{
    width: 25%;
    height: inherit;
    background-color: rgb(51, 48, 48);
    float: right;
}

.computer h1{
    text-align: center;
    color: yellow;
}

.computer h3{
    text-align: center;
    color: yellow;
}

.description-box{

    width: 70%;
    height: 70%;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(230, 230, 250, 0.726);
}

.display-3{

    color: yellow;
}

.dwn-img{

    width: 20%;
    height: 50px;
    margin: auto;
    background-image: url("/assets/images/down-arrow.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.empty{
    width: 100%;
    height: 200px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 50px;
    position: relative;
}
.footer-title{
    display: inline-block;
    float: left;
    color: white;
    margin-top: 30px;
    margin-left: 25px;

}

.footer p{
    color: white;
    display: inline-block;
    float: left;
    margin: 2%;
    margin-top: 40px;
}

.footer p:last-child{
    float: right;
}

.footer p:nth-child(3){
    margin-left: 10%;
}


.game-option{
    margin-top: 100px;
    width: 25%;
    height: 200px;
    margin-right: 5%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.game-option h1{
    text-align: center;
    margin-top: 40%;
    color: rgb(0, 0, 0);
  
}

.game-option:hover{
   background-color:  rgba(179, 179, 179, 0.527);
   
}
.game-option:first-child{
    margin-left: 5%;
}


.game-page{
    margin-top: 25px;
    background-color: aquamarine;
    width: 100%;
    height: 400px;
}

.home-buttons{
    margin-left: 40%;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.home-guide{

    position: absolute;
    background-color: rgba(230, 230, 250, 0.726);
    margin: auto;
    margin-top: -150px;
    margin-left: 28%;
    padding: 20px;
    width: 40%;
    height: 300px;
    font-weight: bold;
}

.home-guide h2{
    text-align: center;
    margin-top: 10%;
}

.home-guide p{
    text-align: center;
}

.home-language{
    margin: auto;
    width: 80%;
    height: 500px;
    background-color: white;
    border: gray solid 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}



.img-thumbnail{

}

.information-space{
    float: left;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.jumbotron{
    background-color: rgba(105, 105, 105, 0.384);
}

.language-image{
    float: left;
    width: 100%;
    height: 81%;
    background-image: url('../images/images.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lead{
    color: yellow;


}

.player{
    width: 25%;
    height: inherit;
    background-color: rgb(51, 48, 48);
    float: left;
}

.player h1{
    text-align: center;
    color: yellow;
}

.player h3{
    text-align: center;
    color: yellow;
}
.point-board{

    width: 100%;
    height: 150px;
    margin-top: 100px;
    background-color: rgb(235, 235, 235);
}


.navbar-nav:last-child{
    float: right;
}

.nav-item a{
    padding: 20px;
    border-width: 1px;
    border-color: white;
    border-right-style: dotted ;
    color:  yellow;

}

.nav-item:last-child{
    border: none;
}


.nav-item a:hover{
    color: rgb(255, 255, 255);   

}

.sign_in{
    float: right;
}

.title{

    text-align: center;
    margin-top: 80px;
}

.whitespace-title{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    color: yellow;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.205);
}

.white-space{
    float: left;
    height: inherit;
    width: 30%;
    border-right: dotted yellow 5px;
}