{{yield}}

<div class="about container">
    <h1>About Electotron</h1>
    <p>Is a simple app designed by ThyFilthyNoob that gives the very basic information about three 
        programming languages. The game incorporates Rock, Paper, Scissors into a fun and interactive web 
        game design. This app was designed using Ember.js. 

    </p>

</div>