
<div class="footer bg-dark">
    <h2 class="footer-title">Electotron</h2>
    <p>Copyright © 2020 ThyFilthyNoob Inc.</p>
    <p>Created and maintained by ThyFilthyNoob</p>
    <p>Contact at Jamesmaye6094@gmail.com</p>
</div>



{{yield}}