{{yield}}


<nav class="nav_bar">
    <ul>
        <li><a href="home" class ="active">Home</a></li>
        <li><a href="route_one">Languages</a></li>
        <li><a href="">Contact</a></li>
        <li ><a href="" >About</a></li>
    </ul>
</nav>
