
<div class='point-board container'>
<div class="player">
    <h1>Player</h1>
    <h3>{{playerScore}}</h3>
</div>
<div class="computer">
    <h1>Computer</h1>
    <h3>{{computerScore}}</h3>
</div>
</div>

{{yield}}
